.synopsis{
    color: lightslategray;
    font-style: italic;
}
.synopsis em{
    font-style: normal;
}
.button,.button:visited,.button:link{
    display: block;
    text-decoration: none;
    color: rgb(255, 246, 230);
    background-color: #5995DA;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid darkslategray;
    border-radius: 8px;
    width: 200px;
    margin: 20px auto;
}
.button:hover,
.button:visited:hover {
  color: #FFF;
  background-color: #76AEED;  /* Light blue */
}

.button:active,
.button:visited:active {
  color: #FFF;
  background-color: #5995DA;  /* Blue */
}
.page{
    width: 600px;
    margin: 0 auto;
}
.cta{
    font-style: italic;
    background-color: darkorange;
}
.cta:link,
.cta:visited {
  font-style: italic;
  background-color: #39b053;
}

.cta:hover,
.cta:visited:hover {
  background-color: #F5CF8E;     /* Light yellow */
}

.cta:active,
.cta:visited:active {
  background-color: #EEB75A;     /* Yellow */
}

a:link{
    color: blue;
    text-decoration: none;
}
a:visited{
    color: purple;
}

a:visited:hover{
    color: orange;
}
a:visited:active{
    color: rebeccapurple;
}
a:hover{
    text-decoration: underline;
    color: aqua;
}
a:active{
    color: red;
}

p:last-of-type{
    margin-bottom: 50px;
    color: #7E8184;
    font-style: italic;
}
p:first-of-type{
    color: blueviolet;
    font-style: italic;
}


/* #button-2{
    color: darkgray;
} */ 
/* USE CLASS SELECTORS!! */

#button-2 {
    background-color: #D55C5F;    
  }